li
{
    list-style: none;
    cursor: pointer;
}

.hidden
{
    display: none;
}

.highlight
{
    background-color: antiquewhite;
}

ul
{
    min-height: 100px;
    min-width: 150px;
    padding: 1px;
}

.border
{
    border: 1px solid lightgreen;
    padding: 0;
}
